// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #7098FF;
$yellow: #FFC65A;
$orange: #FF8576;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-blue: #1B2AAA;
