@import "home";

body {
  margin: 0;
  font-family: "Open Sans", "Helvetica", "sans-serif";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0E0000;
  text-align: left;
  background-color: #FFFFFF;
}


.text {
justify-content: right;
}

.banner-gray {
  background-color: #C4C4C4;
  height: 350px;
}

.justify-content-end {
  margin-top: 10px;
}

.landingpage {
  position: relative;
  height: 500px;
  background: #C4C4C4;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
}

.nav-item {
  color: black;
}

.btn-ghost {
    color: #7098FF;
    border: 2px solid #7098FF;
    padding: 0px 15px;
    margin-left: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.word-white {
  display: flex;
  margin: 40px 200px 38px 200px;
  position: relative;
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  line-height: 60px;
  font-size:40px;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.btn-flat {
  color: white;
  position: relative;
  padding: 10px 20px;
  border-radius: 4px;
  background: #7098FF;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.btn-flat-page {
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  background: #7098FF;
  transition: background 0.3s ease;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  margin-left: 200px;
}

.btn-flat:hover {
  background: #7098FF;
  color: white;
}

.banner-white {
  background-size: cover;
  background-position: center;
  background: #FFFFFF;
  margin: 50px;
  margin-top: 350px;
  margin-bottom: 200px;
}

.card-product {
    overflow: hidden;
    height: 400px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.card-product-page {
    overflow: hidden;
    height: 400px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.card-product-page img {
  position: relative;
  display: inline-flex;
  object-fit: cover;
  align-content: center;
  align-self: center;
  align-content: center;
}

.card-product img {
  position: relative;
  display: inline-flex;
  height: 300px;
  width: 80;
  object-fit: cover;
  align-content: center;
  align-self: center;
  align-content: center;
  margin: 500px;
}

.card-product h2 {
  font-size: 25px;
  color: #001B36;
  font-family: 'Open Sans', sans-serif;
  line-height: 35px;
  margin-bottom: 30px;
}

.card-product-page h2 {
  font-size: 25px;
  color: #001B36;
  font-family: 'Open Sans', sans-serif;
  line-height: 35px;
  margin-bottom: 30px;
}

.card-product-page p {
  font-size: 15px;
  line-height: 26px;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #001B36;
  font-family: 'Open Sans', sans-serif;
}

.card-product p {
  font-size: 15px;
  line-height: 26px;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #001B36;
  font-family: 'Open Sans', sans-serif;
}

.card-product-page .card-product-page-infos {
  padding: 16px;
  width: 400px;
  margin-left: 30px;
}

.card-product .card-product-infos {
  padding: 16px;
  width: 400px;
  margin-left: 30px;
}

ul.inline-list-teacher {
  position: absolute;
  margin: 140px;
}

ul.inline-list {
  position: absolute;
  margin: 80px;
}

.inline-list li {
  display: inline-block;
}

.inline-list-teacher li {
  display: inline-block;
}

.img-schools {
  justify-content: space-between;
}

.img-schools img{
  height: 80px;
  margin: 20px;
}

.img-companies {
  justify-content: space-between;
}

.img-companies img{
  height: 80px;
  margin: 20px;
}

.img-companies-big img {
  height: 40px;
  margin: 20px;
}

.img-companies-long img {
  height: 40px;
  margin: 20px;
  margin-left: 200px;
}

.img-companies-medium img{
  height: 60px;
  margin: 20px;
}

.logo img{
  max-height: 50px;
  position: absolute;
  }

.logo2 img{
  max-height: 31px;
  max-width: 50px;
  margin-right: 15px;
  }

  .logo3{
  max-height: 31px;
  max-width: 50px;
  margin-right: 15px;
  }

.card-product {
    overflow: hidden;
    height: 400px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.card-product-landing {
    overflow: hidden;
    height: 600px;
    background: white;
    display: flex;
    align-items: center;
}


.card-product-landing img {
  position: relative;
  height: 400px;
  object-fit: cover;
  margin-top: 25px;
}

.card-product-landing h2 {
  font-size: 25px;
  color: #001B36;
  font-family: 'Open Sans', sans-serif;
  line-height: 35px;
  margin-bottom: 30px;
}

.card-product-landing p {
  font-size: 15px;
  line-height: 26px;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  color: #001B36;
  font-family: 'Open Sans', sans-serif;
}

// .card-product-landing .card-product-infos {
//   padding: 16px;
//   width: 400px;
//   margin-left: 30px;
// }

.btn-group {
  width: 100%;

  a {
    width: 220px;
    text-align: center;
  }

  a:first-child {
    margin-right: 80px;
  }
}

.landing-page-footer{
  padding-left: 80px;
  width: 100%;
}

.card-product-infos-logo {
  padding: 16px;
  width: 400px;
  margin-left: 30px;
}

.card-product-landing-logo img {
  position: relative;
  height: 300px;
  object-fit: cover;
}
