 <div class="banner-profile">
  <div class="container">
    <img src="profile_avatar.png" alt="Avatar" class="avatar">
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <h3>Maths Teacher</h3>
    <p><%= @user.email %></p>
    <p>Montville Highschool</p>
  </div>
</div>


<div class="container">

  <ul class="nav nav-tabs mb-3">
    <li class="li-tags" class="active"><a data-toggle="tab" href="#classrooms">Classrooms</a></li>
    <li class="li-tags"><a data-toggle="tab" href="#lectures">Lectures</a></li>
  </ul>



  <div class="tab-content">

    <div id="classrooms" class="tab-pane fade in active">
      <h5>You don’t have any class rooms yet. Create your first one.</h5>


    <div class="container">
      <div class="card-classroom">
         <img src='https://kitt.lewagon.com/placeholder/users/Eschults' class="avatar-large"/>
        <div class="card-classroom-content">
          <h3>Maths class</h3>
          <h4>10 B</h4>
        </div>
      <div class="card-classroom-content">
        <h4>Next Lecture</h4>
        <p>Date&Time:</p>
        <p>with:</p>
      </div>
      <a><%= link_to 'Search professionals', professionals_path, :class=>"btn btn-primary ml-2" %> %></a>
    </div>
      <a href="#" class="btn btn-primary" role="button">Create classroom</a>
  </div>
</div>


    <div id="lectures" class="tab-pane fade">
      <h3>Your upcoming lectures</h3>
      <p>You don't have any upcoming lectures yet.</p>
    </div>

</div>



