<div class="banner-profile">
  <div class="container">
    <img src="profile_avatar.png" alt="Avatar" class="avatar">
    <h2>Sergio</h2>
    <h3>Maths Teacher</h3>
    <p>Montville Highschool</p>
  </div>
</div>


<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#classrooms">Classrooms</a></li>
    <li><a data-toggle="tab" href="#lectures"></a></li>
    <li><a data-toggle="tab" href="#professionals">Menu 2</a></li>
  </ul>

  <div class="tab-content">
    <div id="classrooms" class="tab-pane fade in active">

      <h5>You don’t have any class rooms yet. Create your first one.</h5>
      <a href="#" class="btn btn-primary" role="button">Create Class room</a>

    </div>

    <div id="lectures" class="tab-pane fade">
      <h3>Upcoming lectures</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="professionals" class="tab-pane fade">

      <h5>You don’t have any class rooms yet. Create your first one.</h5>
      <a href="#" class="btn btn-primary" role="button">Find professionals</a>

    </div>
  </div>


