// .banner-profile {
//   background-color: #7098FF;
//   margin-bottom: 30px;
//   font-weight: 800;
//   background-size: cover !important;
//   background-position: center;
//   // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
//   height: 350px;
//   width: 100%;
//   padding: 15px 15px;
//   display: flex;
//   align-items: center;
// }


.banner-short {
  margin-bottom: 30px;
  font-weight: 800;
  background-size: cover !important;
  background-position: center;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  height: 350px;
  width: 100%;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;

}


.banner-profile {
  background-color: $dark-blue;
  margin-bottom: 30px;
  background-size: cover !important;
  background-position: center;
  height: 350px;
  width: 100%;
  padding: 15px 15px;
  display: flex;
  align-items: center;
}


.center-align {
  text-align: center;
}

.notification {
  height: 350px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  background: white;
  padding: 8px 16px;
  border: 1px solid rgb(235,235,235);
}

.notification .notification-content {
  flex-grow: 1;
  padding: 0 24px;
}

.notification p {
  margin: 0;
  line-height: 1.4;
}
