
.container-short {
    width: 60%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    height: 300px;
}

.container-main {
   width: 60%;
   margin: 0 auto;
   text-align: center;
   margin-top: 120px;
   margin-bottom: 120px;
}

.container-main-p {
  font-size: 35px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
}

.container-landing {
   width: 90%;
   margin: 0 auto;
   text-align: center;
   margin-top: 100px;
   margin-bottom: 100px;
}
