
.form-container {

  margin: 0 auto;
  width: 40%;
  box-shadow: 0 9px 40px 0 rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  margin-top: 80px;
  border-radius: 14px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
}

